<% if products.empty? %>
	<%= alert('Nenhum produto encontrado', 'info') %>
<% else %>
	<% products.each do |product| %>
		<div class="col-md-<%= col_size %>">
			<div class="card">
		  		<% if product.photos.present? %>
			  		<img src="<%= product.photos.first.path %>" class="d-block w-100" alt="<%= product.photos.first.name %>">
			  	<% else %>
			  		<img src="https://thumbs.dreamstime.com/b/no-image-available-icon-vector-illustration-flat-design-140476186.jpg" class="d-block w-100" alt="No image">
			  	<% end %>
			  <div class="card-body">
			    <h5 class="card-title"><%= product.name %></h5>
    			<%= price(product) %>
			    <%= link_to 'Ver detalhes', product_path(product.id), class: 'btn btn-primary btn-sm' %>
			  </div>
			</div>
		</div>
	<% end %>
<% end %>